html,body {
    font-size: 14px;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}




footer {
    width: 100%;
    position: relative;
    background-color: whitesmoke;
    text-align: center;
    padding: 10px 0;
    bottom: 0;
    margin-top: auto;
}

a {
    text-decoration: none;
    padding: .5rem 1rem;
}
