@using Progetto.App.Core.Models.Users
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
    <div class="position-sticky">
        <ul class="nav flex-column">
            @if (SignInManager.IsSignedIn(User))
            {
                var role = User?.Claims?.First(x => x.Type == ClaimName.Role).Value;
                var isAdmin = (int)Role.Admin == Convert.ToInt32(role);
                var isPremiumUser = (int)Role.PremiumUser == Convert.ToInt32(role);
                var isUser = (int)Role.User == Convert.ToInt32(role);

                <li class="nav-item  border-bottom">
                    <a class="nav-link" href="/MonitoringParking">
                        <i class="fa-solid fa-circle-check"></i> MonitoringParking
                    </a>
                </li>

                <li class="nav-item  border-bottom">
                    <a class="nav-link" href="/car">
                        <i class="fa-solid fa-car"></i>
                        My car
                    </a>
                </li>

                <li class="nav-item  border-bottom">
                    <a class="nav-link" href="/Services">
                        <i class="fa-solid fa-clipboard-check"></i>
                        Services
                    </a>
                </li>

                @if (isAdmin)
                {
                    <li class="nav-item border-bottom">
                        <a class="nav-link" href="/DashMwBot">
                            <i class="fas fa-robot"></i> MwBots
                        </a>
                    </li>
                    <li class="nav-item border-top border-bottom">
                        <a class="nav-link" href="/Parking">
                            <i class="fas fa-car"></i> Parking
                        </a>
                    </li>
                    <li class="nav-item border-top border-bottom">
                        <a class="nav-link" href="/DashParking">
                            <i class="fas fa-parking"></i> ParkingSlot
                        </a>
                    </li>
                    <li class="nav-item border-top border-bottom">
                        <a class="nav-link" href="/DashPayment">
                            <i class="fas fa-money-check-alt"></i> DashPayment
                        </a>
                    </li>
                }

                @if (isAdmin || isPremiumUser)
                {
                    <li class="nav-item border-top border-bottom">
                        <a class="nav-link" href="/reservation">
                            <i class="fa-solid fa-calendar"></i> Reservation
                        </a>
                    </li>
                }

                <li class="nav-item border-top border-bottom">
                    <a class="nav-link" href="/recharge">
                        <i class="fas fa-battery-full"></i> Recharge
                    </a>
                </li>

                <li class="nav-item border-top border-bottom">
                    <a class="nav-link" href="/payments">
                        <i class="fas fa-money-check"></i> Payments
                    </a>
                </li>
            }
        </ul>

        <br>
        <br>
        <br>


        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link" href="/Identity/Account/Manage">
                    <i class="fas fa-cog"></i> Settings
                </a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })" method="post">
                    <button type="submit" class="nav-link btn btn-link text-white">
                        <i class="fas fa-sign-out-alt"></i> Sign out
                    </button>
                </form>
            </li>
        </ul>
    </div>
</nav>