
<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-dark sidebar collapse">
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link text-white" href="/DashMwBot">
                    <i class="fas fa-robot"></i> MwBots
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/Parking">
                    <i class="fas fa-car"></i> Parking
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/DashParking">
                    <i class="fas fa-parking"></i> ParkingSlot
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/recharge">
                    <i class="fas fa-battery-full"></i> Recharge
                </a>
            </li>
        </ul>

        <ul class="nav flex-column mb-2">
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="fas fa-cog"></i> Settings
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="#">
                    <i class="fas fa-sign-out-alt"></i> Sign out
                </a>
            </li>
        </ul>
    </div>
</nav>
