@page
@model Progetto.App.Pages.DashMwBotModel
@{
    ViewData["Title"] = "Dashboard MwBots";
}

<h2>@ViewData["Title"]</h2>

<div id="mwBotGrid"></div>

@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script type="text/javascript" src="~/js/jsGridMwBot.js"></script>
}