@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container  text-center">
    <main role="main" class="pb-3">
        <div class="jumbotron">
            <video width="100%" autoplay loop muted>
                <source src="https://new.abb.com/videos/librariesprovider107/video-it/home-page/video_canvas.mp4?sfvrsn=db68e50b_2" type="video/mp4" />
                @* <source src="https://www.apple.com/105/media/us/airpods/2022/dc1310af-8cb9-4218-8d40-26bbe6a1d307/anim/hero/large.mp4" type="video/mp4" /> *@
                Your browser does not support the video tag.
            </video>
            <hr class="my-4" />
            <p>Offriamo una rete di parcheggi attrezzati con stazioni di ricarica ad alta velocità. Scopri di più sui nostri servizi e prenota il tuo posto oggi stesso.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Scopri di più</a>
        </div>

        <div class="row mb-5 mt-5">
            <div class="col-md-4 mb-4">
                <h2><i class="fa-solid fa-battery-full"></i> Ricarica Veloce</h2>
                <p>Le nostre stazioni di ricarica sono compatibili con tutti i principali modelli di auto elettriche e offrono una ricarica rapida ed efficiente.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Dettagli &raquo;</a></p>
            </div>
            <div class="col-md-4 mb-4">
                <h2><i class="fas fa-shield-alt"></i> Parcheggi Sicuri</h2>
                <p>Garantiamo la massima sicurezza per la tua auto con sistemi di sorveglianza all'avanguardia e personale dedicato.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Dettagli &raquo;</a></p>
            </div>
            <div class="col-md-4 mb-4">
                <h2><i class="fas fa-headset"></i> Servizio Clienti </h2>
                <p>Il nostro team è sempre a disposizione per assisterti e rispondere a tutte le tue domande.</p>
                <p><a class="btn btn-secondary" href="#" role="button">Contattaci &raquo;</a></p>
            </div>
        </div>
    </main>
</div>