@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container  text-center">
    <main role="main" class="pb-3">
        <div class="jumbotron border border-1  border-dark rounded-3">
            <video width="100%" autoplay loop muted>
                <source src="https://new.abb.com/videos/librariesprovider107/video-it/home-page/video_canvas.mp4?sfvrsn=db68e50b_2" type="video/mp4" />
                @* <source src="https://www.apple.com/105/media/us/airpods/2022/dc1310af-8cb9-4218-8d40-26bbe6a1d307/anim/hero/large.mp4" type="video/mp4" /> *@
                Your browser does not support the video tag.
            </video>
            <hr class="my-4" />
            <p>Offriamo una rete di parcheggi attrezzati con stazioni di ricarica ad alta velocità. Scopri di più sui nostri servizi e prenota il tuo posto oggi stesso.</p>
        </div>

        

        <!-- Services Section -->
        <div id="services" class="container py-5">
            <div class="row text-center">
                <div class="col-md-4 mb-4 d-flex">
                    <div class="card border-0 shadow-sm flex-fill">
                        <div class="card-body border border-3 border-dark d-flex flex-column justify-content-between rounded-3">
                            <div>
                                <h2 class="card-title mb-3"><i class="fa-solid fa-battery-full"></i> Ricarica Veloce</h2>
                                <p class="card-text">Le nostre stazioni di ricarica sono compatibili con tutti i principali modelli di auto elettriche e offrono una ricarica rapida ed efficiente.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 d-flex">
                    <div class="card border-0 shadow-sm flex-fill">
                        <div class="card-body border border-3 border-dark d-flex flex-column justify-content-between rounded-3">
                            <div>
                                <h2 class="card-title mb-3"><i class="fas fa-shield-alt"></i> Parcheggi Sicuri</h2>
                                <p class="card-text">Garantiamo la massima sicurezza per la tua auto con sistemi di sorveglianza all'avanguardia e personale dedicato.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4 d-flex">
                    <div class="card border-0 shadow-sm flex-fill">
                        <div class="card-body border border-3 border-dark d-flex flex-column justify-content-between rounded-3">
                            <div>
                                <h2 class="card-title mb-3"><i class="fas fa-headset"></i> Servizio Clienti</h2>
                                <p class="card-text">Il nostro team è sempre a disposizione per assisterti e rispondere a tutte le tue domande.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </main>
</div>