@page
@model Progetto.App.Pages.ParkingModel
@{
    ViewData["Title"] = "Dashboard Parking Lots";
}

<h2>@ViewData["Title"]</h2>

<div id="parkingSlotsGrid"></div>

@section Scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script>
        const parkings = @Html.Raw(Json.Serialize(Model.Parkings));
    </script>
    <script type="text/javascript" src="~/js/jsGridParkingSlots.js"></script>
}
