@page
@model Progetto.App.Pages.ParkingModel
@{
    ViewData["Title"] = "Dashboard Parking";
}

<h2><i class="fas fa-car"></i> <strong>@ViewData["Title"]</strong></h2>

<div class="container-fluid">
    <div class="row">
        <partial name="_DashboardPartial" />

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div id="parkingGrid"></div>
            <div id="map" style="width: 100%; height: 400px; margin-top: 20px;"></div>
        </main>
    </div>
</div>

@section Scripts {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    <script type="text/javascript" src="https://unpkg.com/leaflet-routing-machine/dist/leaflet-routing-machine.js"></script>
    <script type="text/javascript" asp-append-version="true" src="~/js/jsGridParking.js"></script>
}
