@page
@model Progetto.App.Pages.ReservationModel
@{
    ViewData["Title"] = "Reservation";
}
<h2>Crea una nuova prenotazione</h2>
<form id="reservationForm">

    <label for="requestDate">Data Richiesta:</label><br>
    <input type="datetime-local" id="requestDate" name="RequestDate" required><br><br>

    <label for="requestedChargeLevel">Livello di Carica Richiesto:</label><br>
    <input type="number" id="requestedChargeLevel" name="RequestedChargeLevel" min="0" max="100" step="1" required><br><br>

    <label for="parkingSlotId">ID Slot Parcheggio:</label><br>
    <input type="number" id="parkingSlotId" name="ParkingSlotId" required><br><br>

    <input type="hidden" id="userId" name="userId" value="@Model.Reservation.UserId" required>

    <button type="button" onclick="submitForm()">Crea Prenotazione</button>
</form>

@section Scripts {
    <script>
        async function submitForm() {
            const form = document.getElementById('reservationForm');
            const formData = new FormData(form);

            try {
                const response = await fetch('/api/reservation', {
                    method: 'POST',
                    body: formData
                });

                if (response.ok) {
                    alert('Prenotazione creata con successo!');
                } else {
                    alert('Si è verificato un errore durante la creazione della prenotazione.');
                }
            } catch (error) {
                console.error('Errore durante la chiamata fetch:', error);
                alert('Si è verificato un errore durante la chiamata fetch. Controlla la console per ulteriori dettagli.');
            }
        }
    </script>
}